@*@model IEnumerable<Evaluacion360.Models.ViewModels.RQViewModel>*@

@model Evaluacion360.Models.ViewModels.ListRQViewModel

@{
    Layout = "";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Listado de Preguntas</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    @*<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />*@

    <script type="application/x-javascript">

        addEventListener("load", function()
            { setTimeout(hideURLbar, 0); },
            false);
            function hideURLbar()
            { window.scrollTo(0,1); }

        window.setTimeout(function () {
                $(".alert-danger").fadeTo(5000, 0).slideUp(500, function () {
                    $(this).remove();
                });
            }, 5000);
    </script>

    <!-- Bootstrap Core CSS -->
    <link href="~/Css-Pool/bootstrap.min.css" rel="stylesheet" type='text/css' />
    <link href="~/Css/bootstrap.min_sail.css" rel="stylesheet" type='text/css' />

    <!-- Custom CSS -->
    <link href="~/Css-Pool/style2.css" rel='stylesheet' type='text/css' />
    <
    <!-- Graph CSS -->
    <link href="~/Css-Pool/font-awesome.css" rel="stylesheet" type='text/css' />
    <link href="~/Css/jquery-ui.css" rel="stylesheet" />
    <!-- jQuery -->
    <script src="~/js/jquery-2.1.4.min.js"></script>
    <!-- //jQuery -->
    <!-- tables -->
    <link rel="stylesheet" type="text/css" href="~/Css/table-style.css" />
    @*<link rel="stylesheet" type="text/css" href="~/Css/basictable.css" />*@

    <link href="~/Css/table-style.css" rel="stylesheet" type="text/css" />
    <link href="~/Css/basictable.css" rel="stylesheet" type="text/css" />
    <link href="~/Css/datatables.css" rel="stylesheet" />

    <script src="~/js/jquery.basictable.min.js"></script>
    <script src="~/js/datatables.js"></script>

    <style>
        .dropbtn {
            background-color: #4CAF50;
            color: white;
            padding: 6px;
            font-size: 12px;
            border: none;
            cursor: pointer;
        }

        .dropdown {
            position: relative;
            display: inline-block;
        }

        .dropdown-content {
            display: none;
            position: absolute;
            background-color: #f9f9f9;
            min-width: 70px;
            box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
            z-index: 1;
        }

            .dropdown-content a {
                color: black;
                padding: 8px 10px;
                text-decoration: none;
                display: block;
            }

            /*.dropdown-content a:hover {
                    background-color: #5f5f65;
                    color:white;
                }*/
            .dropdown-content .edit:hover {
                background-color: #ff6a00;
                color: white;
            }

            .dropdown-content .details:hover {
                background-color: #0026ff;
                color: white;
            }

            .dropdown-content .delete:hover {
                background-color: #ff0000;
                color: white;
            }

        .dropdown:hover .dropdown-content {
            display: block;
        }

        .dropdown:hover .dropbtn {
            background-color: #3e8e41;
        }
    </style>

    <script type="text/javascript">
        $(document).ready(function () {
            $('#table').basictable();

            $('#table-breakpoint').basictable({
                breakpoint: 768
            });

            $('#table-swap-axis').basictable({
                swapAxis: true
            });

            $('#table-force-off').basictable({
                forceResponsive: false
            });

            $('#table-no-resize').basictable({
                noResize: true
            });

            $('#table-two-axis').basictable();

            $('#table-max-height').basictable({
                tableWrapper: true
            });
        });
    </script>
    <!-- //tables -->
    <link href='//fonts.googleapis.com/css?family=Roboto:700,500,300,100italic,100,400' rel='stylesheet' type='text/css' />
    <link href='//fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
    <!-- lined-icons -->
    <link rel="stylesheet" href="~/Css/icon-font.min.css" type='text/css' />
    <!-- //lined-icons -->
</head>
<body>
    <div id="mensaje">
    </div>

    <div class="agile-grids">
        <div class="agile-tables">
            <div class="-table-info">
                <div class="modal-header">
                    <h1 class="center-block">Preguntas</h1>
                    <span>
                        <button class="btn btn-danger btn-sm" onclick="location.href='@Url.Content("~/RandomQuestion/Create/")'">Crear Pregunta</button>
                        @*<button class="btn btn-dark btn-sm" type="button" data-toggle="modal" data-target="#SectionExcel">Importar Excel</button>*@
                        <button class="btn btn-primary btn-sm" onclick="location.href='@Url.Content("~/Home/Index/")'">Volver al Menú</button>
                    </span>
                </div>
                <table id="table" >
                    <thead>
                        <tr>
                            <th> @Html.DisplayName("Código Dominio")</th>
                            <th> @Html.DisplayName("Nro Pregunta")</th>
                            <th> @Html.DisplayName("Texto Pregunta")</th>
                            <th> @Html.DisplayName("Ponderación")</th>
                            <th> @Html.DisplayName("Acciones")</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.Secciones)
                        {
                            <tr>
                                <td>@Html.DisplayFor(modelItem => item.Codigo_Seccion)</td>
                                <td>@Html.DisplayFor(modelItem => item.Numero_Pregunta)</td>
                                <td style="max-width:800px">@Html.DisplayFor(modelItem => item.Texto_Pregunta)</td>
                                <td>@Html.DisplayFor(modelItem => item.Ponderacion_P)</td>

                                <td>
                                    @*<div class="dropdown">
                                            <button class="dropbtn">Proceso</button>
                                            <div class="dropdown-content">
                                                <a class="edit" href='@Url.Action("Edit", "RandomQuestion", new { codSection = item.Codigo_Seccion, askNo = item.Numero_Pregunta })'>Editar</a>
                                                <a class="details" href='@Url.Action("Details", "RandomQuestion", new { codSection = item.Codigo_Seccion, askNo = item.Numero_Pregunta })'>Detalles</a>
                                                <a class="delete" href='@Url.Action("Delete", "RandomQuestion", new { codSection = item.Codigo_Seccion, askNo = item.Numero_Pregunta })'>Eliminar</a>
                                            </div>
                                        </div>*@
                                    <button class="btn btn-warning btn-xs" onclick="location.href='@Url.Action("Edit", "RandomQuestion", new { codSection = item.Codigo_Seccion, askNo = item.Numero_Pregunta })'" title="Editar">
                                        <span class="fa fa-pencil"></span>
                                    </button>
                                    <button class="btn btn-primary btn-xs" onclick="location.href='@Url.Action("Details", "RandomQuestion", new { codSection = item.Codigo_Seccion, askNo = item.Numero_Pregunta })'" title="Dtalles">
                                        <span class="fa fa-eye"></span>
                                    </button>
                                    <button class="btn btn-danger btn-xs" onclick="location.href='@Url.Action("Delete", "RandomQuestion", new { codSection = item.Codigo_Seccion, askNo = item.Numero_Pregunta })'" title="Eliminar">
                                        <span class="fa fa-trash"></span>
                                    </button>

                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
                <div class="container">
                    <div id="loading" class="text-center" style="display:none">
                        <img src="~/Content/ajax-loader.gif" />
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br />

    <div class="modal fade " id="SectionExcel" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="myModalLabel">Importar Preguntas</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="false">&times;</span></button>
                </div>
                <div class="modal-body">
                    <input type="file" id="file" class="form-control1" />
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-info btn-sm" data-dismiss="modal">Cancelar</button>
                    <button type="button" class="btn btn-danger btn-sm" id="btnExcelRQ" data-dismiss="modal">Subir Excel</button>
                </div>
            </div>
        </div>
    </div>

    <div class="align-content-md-center">
        @{Html.RenderPartial("_Paginador", Model); }
    </div>
    <script src="~/js/ExcelJson.js"></script>
</body>
</html>


