@*@model IEnumerable<Evaluacion360.Models.ViewModels.SectionViewModel>*@

@model Evaluacion360.Models.ViewModels.ListSectionViewModel


@{
    Layout = "";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Listado de Dominios</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Pooled Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
    <script type="application/x-javascript">

        addEventListener("load", function()
            { setTimeout(hideURLbar, 0); },
            false);
            function hideURLbar()
            { window.scrollTo(0,1); }

         window.setTimeout(function () {
            $(".alert-success").fadeTo(500, 0).slideUp(500, function () {
            $(this).remove();
            }); }, 3000);
        window.setTimeout(function () {
            $(".alert-danger").fadeTo(500, 0).slideUp(500, function () {
            $(this).remove();
            }); }, 8000);

    </script>

    <!-- Bootstrap Core CSS -->
    <link href="~/Css-Pool/bootstrap.min.css" rel="stylesheet" type='text/css' />
    <link href="~/Css/bootstrap.min_sail.css" rel="stylesheet" type='text/css' />
    <!-- Custom CSS -->
    <link href="~/Css-Pool/style2.css" rel='stylesheet' type='text/css' />
    @*<link href="~/Css/morris.css" rel="stylesheet" type="text/css" />*@
    <!-- Graph CSS -->
    <link href="~/Css-Pool/font-awesome.css" rel="stylesheet" type='text/css' />
    <link href="~/Css/jquery-ui.css" rel="stylesheet" />
    <link href="~/Css-Modernizer/style.css" rel="stylesheet" />

    <!-- jQuery -->
    <script src="~/js/jquery-2.1.4.min.js"></script>
    <!-- //jQuery -->
    <!-- tables -->
    <link rel="stylesheet" type="text/css" href="~/Css/table-style.css" />
    <link rel="stylesheet" type="text/css" href="~/Css/basictable.css" />

    <script src="~/js/jquery.basictable.min.js"></script>
    <script src="~/js/datatables.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            $('#table').basictable();

            $('#table-breakpoint').basictable({
                breakpoint: 768
            });

            $('#table-swap-axis').basictable({
                swapAxis: true
            });

            $('#table-force-off').basictable({
                forceResponsive: false
            });

            $('#table-no-resize').basictable({
                noResize: true
            });

            $('#table-two-axis').basictable();

            $('#table-max-height').basictable({
                tableWrapper: true
            });
        });
    </script>
    <!-- //tables -->
    <link href='//fonts.googleapis.com/css?family=Roboto:700,500,300,100italic,100,400' rel='stylesheet' type='text/css' />
    <link href='//fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
    <!-- lined-icons -->
    <link rel="stylesheet" href="~/Css/icon-font.min.css" type='text/css' />
    <!-- //lined-icons -->
</head>
<body>
    @if (ViewBag.Message != null)
    {
        if (ViewBag.Status)
        {
            <div class="alert alert-success alert-dismissible fade show" role="alert">
                <strong style="font-size:medium">@ViewBag.Message</strong>
                <button type="button" class="close" data-dismiss="alert" aria-label="Cerrar">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        }

        if (!ViewBag.Status)
        {
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                <strong style="font-size:medium">@ViewBag.Message</strong>
                <button type="button" class="close" data-dismiss="alert" aria-label="Cerrar">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        }
    }

    <div class="agile-grids">
        <!-- tables -->
        <div class="agile-tables">
            <div class="w3l-table-info">
                <div class="modal-header">
                    <h1 class="center-block">Dominios @ViewBag.Alto</h1>
                    <span>
                        <button class="btn btn-danger btn-sm" onclick="location.href='@Url.Content("~/Section/Create/")'">Crear Dominio</button>
                        @*<button type="button" class="btn btn-dark btn-sm" data-toggle="modal" data-target="#SectionExcel">Importar Excel</button>*@
                        <button class="btn btn-primary btn-sm" onclick="location.href='@Url.Content("~/Home/Index/")'">Volver al Menú</button>
                    </span>
                </div>
                <table id="table">
                    <thead>
                        <tr>
                            <th> @Html.Hidden("Id")</th>
                            <th> @Html.DisplayName("Codigo Dominio")</th>
                            <th> @Html.DisplayName("Nombre Dominio")</th>
                            <th> @Html.DisplayName("Ponderación")</th>
                            <th> @Html.DisplayName("Estado")</th>
                            <th> @Html.DisplayName("Acciones")</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.Secciones)
                        {
                            <tr>
                                <td>@Html.HiddenFor(modelItem => item.Id)</td>
                                <td>@Html.DisplayFor(modelItem => item.Codigo_Seccion)</td>
                                <td>@Html.DisplayFor(modelItem => item.Nombre_Seccion)</td>
                                <td>@Html.DisplayFor(modelItem => item.Ponderacion_S)</td>
                                <td>@Html.DisplayFor(modelItem => item.IdState)</td>
                                <td>
                                    <button class="btn btn-xs btn-warning" onclick="location.href='@Url.Action("Edit", "Section", new {id=item.Id })'" title="Editar">
                                        <span class="fa fa-pencil"></span>
                                    </button>
                                    <button class="btn btn-xs btn-primary" onclick="location.href='@Url.Action("Details", "Section", new {id=item.Id }) '" title="Detalles">
                                        <span class="fa fa-eye"></span>
                                    </button>
                                    <button class="btn btn-danger btn-xs" onclick="location.href='@Url.Action("Delete", "Section", new {id=item.Id })'" title="Eliminar">
                                        <span class="fa fa-trash"></span>
                                    </button>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="modal fade " id="SectionExcel" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="myModalLabel">Importar Dominio</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="false">&times;</span></button>
                </div>
                <div class="modal-body text-center">

                    <input type="file" id="file" class="form-control1" />
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-info btn-sm" data-dismiss="modal">Cancelar</button>
                    <button type="button" class="btn btn-danger btn-sm" id="btnUpload" data-dismiss="modal">Subir Excel</button>
                </div>
            </div>
        </div>
    </div>

    <script src="~/js/ExcelJson.js"></script>

    <div class="align-content-md-center">
        @{Html.RenderPartial("_Paginador", Model); }
    </div>


</body>
</html>

